proxycache/
cache-demo/*.log

dynamic-load/confd
tmp/
proxy-cache/static_access.log
proxy-cache/cache_access.log
lua_script/error.log
dynamic-load/access.log
dynamic-load/error.log

deploy/rabbitmq_db/
.idea/