{{range $dir := lsdir "/bmi/skyvis/services/web"}}
upstream {{base $dir}} {
    {{$custdir := printf "/bmi/skyvis/services/web/%s/*" $dir}}{{range gets $custdir}}
    server {{$data := json .Value}}{{$data.ip}}:{{$data.port}};
    {{end}}
}
{{end}}

server {
    server_name -;
    location /hls {
        proxy_http_version 1.1;
        proxy_pass http://hls;
        proxy_cache proxycache;
        proxy_cache_valid  200 206 304 301 302 10d;
        proxy_cache_key $uri;
    }

    location =/gateway {
        proxy_http_version 1.1;
        proxy_pass http://gateway;
        #return 200 "user=$arg_path's user&password=$arg_path's password";
    }

    location /play {
        proxy_http_version 1.1;
        set $diff ''; # we have to predefine the $diff variable here
        set $body '';
        set $sum '';
        set $the_status '';

        access_by_lua_block {
            local a = 32
            local b = 56

            local res = ngx.location.capture('/gateway',
            { args =  ngx.var.args });
            ngx.var.diff = a - b;  -- write to $diff directly
            ngx.var.sum = a + b;
            ngx.var.body = res.body;
        }
            echo_location /hls '$args&$body';
        }
}