{{range $dir := lsdir "/bmi/skyvis/services/web"}}
upstream {{base $dir}} {
    {{$custdir := printf "/bmi/skyvis/services/web/%s/*" $dir}}{{range gets $custdir}}
    server {{$data := json .Value}}{{$data.ip}}:{{$data.port}};
    {{end}}
}
{{end}}

server {
    server_name -; # 这里可以匹配任何 host
    location ~ /vod/proxy/s3/\*.(ts|m3u8) {
        proxy_http_version 1.1;
        proxy_pass http://hls;
        proxy_cache proxycache;
        proxy_cache_valid  200 206 304 301 302 10d;
        proxy_cache_key $uri;
    }

    location = /gateway_getsecret {
        proxy_http_version 1.1;
        proxy_pass http://gateway/skyvis/gateway/secret;
        #return 200 "user=$arg_path's user&password=$arg_path's password";
    }

    location /bmi/skyvis/video {
        proxy_http_version 1.1;
        set $body '';  # we have to predefine the $diff variable here

        access_by_lua_block {
            local res = ngx.location.capture('/gateway_getsecret',
            { args =  ngx.var.args });
            if res.status ~= ngx.HTTP_OK then
                ngx.say(res.body)
                ngx.exit(res.status)
            else
                ngx.var.body = res.body;
            end
        }
        rewrite /bmi/skyvis/video(.*) /vod/proxy/s3/*$1 break;
        echo_location $uri '$args&$body';
        }

    location = /bmi/skyvis/task/transcode {
        proxy_http_version 1.1;
        proxy_pass http://gateway/skyvis/gateway/transcode;
    }

    location = /bmi/skyvis/task/preplay {
        proxy_http_version 1.1;
        proxy_pass http://gateway/skyvis/gateway/preplay;
    }

    location = /bmi/skyvis/task/download {
        proxy_http_version 1.1;
        proxy_pass http://gateway/skyvis/gateway/download;
    }

    location = /bmi/skyvis/help {
        proxy_http_version 1.1;
        proxy_pass http://gateway/skyvis/gateway/help;
    }
}